<div
  class="flex min-h-screen items-center justify-center px-6 py-12 pt-0 lg:px-8"
>
  <div class="border border-gray-100 rounded shadow-sm p-6 w-full max-w-md">
    <h1 class="font-medium text-xl mb-4">Update Profile</h1>
    <%= form_for(@user, :html => {:class => 'space-y-6'}, url: profile_path, html: { method: :put }) do |f| %>
      <div class="field space-y-2">
        <%= f.label :bio, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= f.text_field :bio,
                     class:
                       "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-1.5 px-2.5" %>
      </div>

      <div class="actions mt-4">
        <%= f.submit "Update",
                 class:
                   "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
</div>
